.free-trial {
  display: flex;
  justify-content: flex-start;
}

.free-trial-message {
  display: flex !important;
  align-items: flex-start !important;
  font-size: 18px;
}

.welcome-card {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.welcome-card-container {
  justify-content: center;
  text-align: center;
  padding: 20px !important;
}

.welcome-card-typography {
  margin: 40px 0 !important;
}

.center {
  margin: 60px 200px !important;
  font-size: 16px !important;
}

.first-use-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.statistics-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 700px;
}

.first-use-card-content {
  padding: 25px 0;
}

.first-use-card {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  min-height: 300px;
  flex-basis: 33%;
  margin: 10px 0;
  justify-content: center;
  text-align: center;
}

.statistics-card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 48%;
}

.statistic-element {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.statistic-element-number {
  margin-right: 20%;
  font-size: 4em;
  box-shadow: -2px -5px 30px 18px rgba(242, 233, 242, 1);
  border-radius: 10%;
  /* background-color: #CA6924; */
  color: #fff;
  padding: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+38,ff920a+52 */
  background: #ffaf4b; /* Old browsers */
  background: -moz-linear-gradient(top, #ffaf4b 38%, #ff920a 52%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffaf4b 38%, #ff920a 52%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffaf4b 38%,
    #ff920a 52%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 1600px) {
  .first-use-card {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .statistics-card {
    width: 100%;
  }
}

.management-type {
  width: 64px;
  height: 64px;
  box-shadow: 5px 5px 22px -8px rgba(74, 72, 74, 1);
  border-radius: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.management-type--weighing {
  background-image: url('../../../assets/imgs/managements/weighing.svg');
  background-color: #f9690e;
}
.management-type--feeding {
  background-image: url('../../../assets/imgs/managements/feed.svg');
  background-color: #d9b611;
}
.management-type--sanitary {
  background-image: url('../../../assets/imgs/managements/sanitary.svg');
  background-color: #8db255;
}
.management-type--servicing {
  background-image: url('../../../assets/imgs/managements/servicing.svg');
  background-color: #a17917;
}
.management-type--birth {
  background-image: url('../../../assets/imgs/managements/birth.svg');
  background-color: #f5d76e;
}
.management-type--childBirth {
  background-image: url('../../../assets/imgs/managements/childBirth.svg');
}
.management-type--chiping {
  background-image: url('../../../assets/imgs/managements/chiping.svg');
  background-color: #dc3023;
}
.management-type--death {
  background-image: url('../../../assets/imgs/managements/death.svg');
  background-color: #ca6924;
}
.management-type--transfer {
  background-image: url('../../../assets/imgs/managements/transfer.svg');
  background-color: #7a942e;
}
.management-type--sellOrPurchase {
  background-image: url('../../../assets/imgs/managements/sellOrPurchase.svg');
  background-color: #e29c45;
}
.management-type--production {
  background-image: url('../../../assets/imgs/managements/production.svg');
  background-color: #5b8930;
}
