.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
    margin-right: 40px;
}

.container-left{
    justify-content: left;
    width: 60%;
}

.container-right{
    justify-content: right;
    width: 40%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.loginForm{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.container-right--footer{
    margin-bottom: 10px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 40%;
}