.select-management-card {
  margin: 20px 0 !important;
  display: flex;
  min-height: 600px;
}

.header-select-management-card{
  margin-top: 40px;
  display: flex;
}

.header-select-management-card-container{
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}

.select-management-card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.step-border{
  border: 2px solid #000;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
}

.selected {
  background-color: gray;
  color: #fff;
}

.management-type-container{
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: 180px 180px;
  background-position: center;
  background-position-y: 0px;
}

.management-type-container--weighing{
  background-image: url('../../../../assets/imgs/managements/weighing.svg');
}

.management-type-container--feeding{
  background-image: url('../../../../assets/imgs/managements/feed.svg');
}
.management-type-container--sanitary{
  background-image: url('../../../../assets/imgs/managements/sanitary.svg');
}
.management-type-container--servicing{
  background-image: url('../../../../assets/imgs/managements/servicing.svg');
}
.management-type-container--birth{
  background-image: url('../../../../assets/imgs/managements/birth.svg');
}
.management-type-container--childBirth{
  background-image: url('../../../../assets/imgs/managements/childBirth.svg');
}
.management-type-container--chiping{
  background-image: url('../../../../assets/imgs/managements/chiping.svg');
}
.management-type-container--death{
  background-image: url('../../../../assets/imgs/managements/death.svg');
}
.management-type-container--transfer{
  background-image: url('../../../../assets/imgs/managements/transfer.svg');
}
.management-type-container--sellOrPurchase{
  background-image: url('../../../../assets/imgs/managements/sellOrPurchase.svg');
}

@media(max-width: 1248px){
  .management-type-container{
    width: 50%;
    height: 20%;
  }
}

@media(max-width: 500px){
  .management-type-container{
    width: 100%;
    height: 10%;
  }
}